@import "tailwindcss";
/* @plugin "daisyui"; */

/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */

.pixelated{
    background: url('./assets/images/pixelated.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pixelated-1{
    background: url('./assets/images/home4.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login{
    background: url('./assets/images/download.gif');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

*{
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
.delay1{
    animation-delay: 100ms;
}
.delay2{
    animation-delay: 200ms;
}
body{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
html{
    scrollbar-width: none;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}